html {
	background: url("../img/fond.png") repeat;
}
body {
	width: 1000px;
	margin: 20px auto 35px auto;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	position: relative;
}

/* HEADER */
#header {
	width: 100%;
	height: 50px;
	left: 0;
    top: 0;
	position: fixed;
	background: linear-gradient(to bottom, #009FE0, #018EC8) repeat scroll 0 0 #009FE0;
	margin: auto;
	text-align: center;
	z-index: 100;
}
#header h1 {
	width: 155px;
	padding: 12px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 400;
	border-right: 1px white solid;
	display: inline-block;
	cursor: pointer;
}
#header h1:first-child {
	border-left: 1px white solid;
}
#header h1.current {
	background: linear-gradient(to bottom, #FFFFFF, #E6E6E6) repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #009FE0;
	border: none;
}


/* CHARGEMENT & IMAGE */
#chargement {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: rgba(255,255,255,0.7);
	display: none;
	z-index: 100;
}
#img-loading {
	width: 150px;
	margin: auto;
	display: block;
}

#content {
	width: 1000px;
	overflow: hidden;
	margin-top: 75px;
	position: relative;
}

/* PAGE FORMULAIRE */
#pageFormulaire {
	width: 770px;
	position: relative;
	float: left;
}
#pageFormulaire label, #pageFormulaire span {
	display: block;
	font-size: 25px;
	color: rgb(100,100,100);
	font-weight: 400;
}

/* COLONNE */
#colonne {
	width: 200px;
	float: right;
	overflow: hidden;
	position: relative;
}
#image {
	width: 200px;
	position: fixed;
	margin-bottom: 15px;
	display: block;
}

/* BOUTONS */
button {
	width: 200px;
	height: 50px;
	font-size: 20px;
	margin: auto;
	padding: 5px 8px;
	border-radius: 4px 4px 4px 4px;
	color: white;
	background: linear-gradient(to bottom, #FBB450, #F89406) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #DF8B13;
	position: fixed;
	margin-bottom: 15px;
}
button#send {
	width: 200px;
	margin-top: 15px;
	background: linear-gradient(to bottom, #009FE0, #018EC8) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #037BAC;
}





input[type="text"] {
	width: 96%;
	height: 50px;
	margin: 10px auto;
	padding: 0 2%;
	display: block;
	font-size: 30px;
	border: 1px solid #aaa;
	border-radius: 3px;
	background: #fff;
	color: #666;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15),transparent 0 0 0;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15),transparent 0 0 0;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.15),transparent 0 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-ms-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
}

#smallImage {
	width:60px;
	height:60px;
	display:none;
}

#largeImage {
	display:none;
}

.clear {
	clear: both;
}

.left {
	width: 48.5% !important;
	float: left !important;
}

.right {
	width: 48.5% !important;
	float: right !important;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.large {
	width: 68.5% !important;
}

.small {
	width: 28.5% !important;
}

.small input {
	text-align: right;
}

.tripleColonnes .left {
	float: left;
}

.tripleColonnes .center {
	float: left;
}

.tripleColonnes .right {
	float: right;
}


/* POIDS */

#poidsContainer {
	display: none;
}

#optionsPoids {
	margin-bottom: 15px;
	margin-top: 20px;
}

#optionsPoids .center {
	width: 30%;
	height: 75px;
}

#optionsPoids label{
	font-size: 17px;
	-moz-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	border: 1px solid rgb(150,150,150);
	border-radius: 10px;
	padding: 12px 0 12px 13px;
	background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	margin-top: 10px;
	margin-bottom: 10px;
}

#optionsPoids #infosPoidsRef, #optionsPoids #infosDLCRef {
	display: none;
}

#optionsPoids input#poidsRef, #optionsPoids input#DLCRef{
	background-color: rgb(230,230,255);
	color: rgb(70,70,255);
}

.poids {
	margin-bottom: 25px;
}

#optionsPoids #infosPoidsRef div, #optionsPoids #infosPoidsRef input,
#optionsPoids #infosDLCRef div, #optionsPoids #infosDLCRef input,
.poids div, .poids input {
	float: left;
}

#optionsPoids #infosPoidsRef input, #optionsPoids #infosDLCRef input, .poids .inputs {
	width: 47%;
	text-align: right;
	font-size: 25px;
}

#optionsPoids #infosDLCRef input, input.inputDLC {
	text-align: center;
	font-size: 17px;
}

#optionsPoids #infosPoidsRef div, #optionsPoids #infosDLCRef div, .poids div:not(.inputs) {
	width: 25%;
	color: rgb(100,100,100);
	text-align: center;
	margin: 27px 0 27px 0;
}

#optionsPoids #infosPoidsRef div, #optionsPoids #infosDLCRef div{
	color: rgb(70,70,255);
}

[class="poids left"], [class="poids center"], [class="poids right"]{
	width: 33.3333333% !important;
}

#poidsTotal {
	font-size: 17px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#poidsTotal div{
	font-size: 20px;
	font-weight: bolder;
	display: inline-block;
}

/* RESET */
span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	margin: 0;
	outline: 0 none;
	padding: 0;
}